<div class="section-meta utility">
    <div class="breadcrumbs col-xs-9">
        <!-- Breadcrumb NavXT 5.2.2 -->
        <span><a class="home" href="https://utulsa.edu" title="Go to The University of Tulsa.">Home</a></span> / <span><a href="#" title="">Placeholder</a></span>
    </div>
</div>
