
<footer class="footer">
        <div class="container">
                <div class="row">
                        <div class="footer-widgets">
                                <aside id="nav_menu-2" class="col-sm-4 col-md-3 widget widget_nav_menu"><h6 class="widget-title">Academics</h6><div class="menu-footer-academics-container"><ul id="menu-footer-academics" class="menu"><li id="menu-item-1442" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1442"><a href="http://artsandsciences.utulsa.edu/">Kendall College of Arts &amp; Sciences</a></li>
<li id="menu-item-1443" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1443"><a href="http://business.utulsa.edu/">Collins College of Business</a></li>
<li id="menu-item-1444" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1444"><a href="http://engineering.utulsa.edu/">College of Engineering &amp; Natural Sciences</a></li>
<li id="menu-item-3428" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3428"><a href="http://healthsciences.utulsa.edu/">College of Health Sciences</a></li>
<li id="menu-item-1446" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1446"><a href="http://law.utulsa.edu/">College of Law</a></li>
<li id="menu-item-3427" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3427"><a href="http://graduate.utulsa.edu/">Graduate School</a></li>
<li id="menu-item-3682" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3682"><a href="http://utulsa.edu/academics/continuing-education/">Continuing Education</a></li>
<li id="menu-item-4888" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4888"><a href="http://utulsa.edu/departments-schools/">Departments &amp; Schools</a></li>
</ul></div></aside><aside id="nav_menu-3" class="col-sm-4 col-md-3 widget widget_nav_menu"><h6 class="widget-title">Offices &amp; Services</h6><div class="menu-offices-services-container"><ul id="menu-offices-services" class="menu"><li id="menu-item-1436" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1436"><a href="http://admission.utulsa.edu/">Admission and Financial Aid</a></li>
<li id="menu-item-3685" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3685"><a href="http://utulsa.edu/campus-life/alexander-health-center/">Alexander Health Center</a></li>
<li id="menu-item-6716" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6716"><a href="http://utulsa.edu/offices/bursar/">Bursar</a></li>
<li id="menu-item-3687" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3687"><a href="http://utulsa.edu/campus-life/campus-recreation/collins-fitness-center/">Collins Fitness Center</a></li>
<li id="menu-item-3688" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3688"><a href="http://admission.utulsa.edu/financial-aid/">Financial Aid</a></li>
<li id="menu-item-3689" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3689"><a href="http://utulsa.edu/mcfarlin-library/">McFarlin Library</a></li>
<li id="menu-item-3690" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3690"><a href="http://utulsa.edu/offices/registrar/">Office of the Registrar</a></li>
<li id="menu-item-3871" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3871"><a href="http://utulsa.edu/offices/">Offices</a></li>
</ul></div></aside><aside id="nav_menu-4" class="col-sm-4 col-md-2 widget widget_nav_menu"><h6 class="widget-title">Explore</h6><div class="menu-explore-container"><ul id="menu-explore" class="menu"><li id="menu-item-3691" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3691"><a href="http://utulsa.edu/a-z/">A-Z Index</a></li>
<li id="menu-item-3712" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3712"><a href="http://utulsa.edu/arts-at-tu/">Arts @ TU</a></li>
<li id="menu-item-6896" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6896"><a target="_blank" href="http://bulletin.utulsa.edu/">Bulletin/Course Catalog</a></li>
<li id="menu-item-1426" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1426"><a target="_blank" href="http://utulsa.edu/courses/schedule/">Courses</a></li>
<li id="menu-item-5522" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5522"><a href="http://utulsa.edu/degrees/">Degrees</a></li>
<li id="menu-item-3695" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3695"><a href="http://utulsa.edu/maps/">Maps</a></li>
<li id="menu-item-3696" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3696"><a href="http://tulsa.university-tour.com" onclick="__gaTracker('send', 'event', 'outbound-widget', 'http://tulsa.university-tour.com', 'Virtual Tour');" target="_blank">Virtual Tour</a></li>
</ul></div></aside><div class="clearfix visible-sm" style="margin: 60px 0;"></div><aside id="nav_menu-5" class="col-sm-4 col-md-2 widget widget_nav_menu"><h6 class="widget-title">Resources</h6><div class="menu-footer-resources-container"><ul id="menu-footer-resources" class="menu"><li id="menu-item-4865" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4865"><a href="http://utulsa.edu/academic-calendar/">Academic Calendar</a></li>
<li id="menu-item-3699" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3699"><a href="http://utulsa.edu/offices/campus-security/">Campus Security</a></li>
<li id="menu-item-5527" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5527"><a href="http://utulsa.edu/contact/">Contact</a></li>
<li id="menu-item-6895" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6895"><a href="http://utulsa.edu/about/working-at-tu/">Employment</a></li>
<li id="menu-item-3697" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3697"><a target="_blank" href="http://calendar.utulsa.edu">Events Calendar</a></li>
<li id="menu-item-3698" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3698"><a href="http://utulsa.edu/offices/information-technology/">Information Technology</a></li>
<li id="menu-item-3702" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3702"><a href="https://portal.utulsa.edu">TU Portal</a></li>
<li id="menu-item-6012" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6012"><a href="http://utulsa.edu/offices/university-relations/digital-communications/web-site-issue-report/">Web Site Issue Report</a></li>
</ul></div></aside><aside id="socials_widget-3" class="col-sm-4 col-md-2 widget socials-widget"><h6 class="widget-title">Connect With TU</h6>
            <div class="widget-wrap">


                                                                        <a class="icon-facebook" href="https://www.facebook.com/utulsa.edu" title="facebook" target="_blank">
                                                <svg class="icon icon-facebook"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use></svg>
                                        </a>


                                                                        <a class="icon-twitter" href="https://twitter.com/utulsa" title="twitter" target="_blank">
                                                <svg class="icon icon-twitter"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-twitter"></use></svg>
                                        </a>


                                                                        <a class="icon-instagram" href="http://instagram.com/utulsa" title="instagram" target="_blank">
                                                <svg class="icon icon-instagram"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-instagram"></use></svg>
                                        </a>

                        <div class="content-wrap">
                                <a href="http://utulsa.edu/social-media-directory/">Social Media Directory</a>
<a href="http://utulsa.edu/social-media-policy/">Social Media Policy</a>                     </div>
                </div>

                </aside>                        </div>
                </div>
        </div>


        <div class="site-info">
                <div class="container">
                        © 2016 The University of Tulsa. All Rights Reserved.            </div>
        </div>
</footer>

