<header class="site-header" id="masthead">
  <div class="container">
    <div class="site-branding">
      <h1 class="site-title">
        <a href="http://utulsa.edu/" rel="home">
          <img src="https://utulsa-assets.s3.amazonaws.com/web/static/v2/assets/tulsa-logo-v2.png" alt="Tulsa logo 14349f539cc3438e46002f0613ccda844a7f426169cb5328eaefd64084e78a0d" />
        </a>
      </h1>

    </div>
    <a class="menu-toggle visible-xs visible-sm"><span></span></a>
    <a class="search-toggle visible-xs visible-sm">
        <svg class="icon icon-search"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-icon-search"></use></svg>
    </a>
    <nav class="main-navigation collapse navbar-collapse navbar-ex1-collapse" id="site-navigation">
      <div class="menu-primary-container">
        <ul class="nav navbar-nav" id="menu-primary">
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown menu-item-1779" id="menu-item-1779">
            <a class="dropdown-toggle" data-toggle="dropdown" href="http://utulsa.edu/about/">About</a>

            <div class="dropdown">
              <div class="container">
                <div class="row">
                  <div class="dropdown-menu" style="margin-left: 2em">
                    <div class="col-md-3 1">
                      <ul>
                        <li class="button menu-item menu-item-type-custom menu-item-object-custom menu-item-3038" id="menu-item-3038">
                          <p>Contact someone at The University of Tulsa</p><a class="btn btn-trans" href="http://utulsa.edu/contact">Contact</a>
                        </li>
                      </ul>
                    </div>

                    <div class="col-md-3 1">
                      <ul>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3426" id="menu-item-3426">
                          <a href="http://utulsa.edu/about">Overview</a>
                        </li>

                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2722" id="menu-item-2722">
                          <a href="http://utulsa.edu/about/president/">Office of the President</a>
                        </li>

                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3039" id="menu-item-3039">
                          <a href="http://utulsa.edu/about/trustees/">Board of Trustees</a>
                        </li>

                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3026" id="menu-item-3026">
                          <a href="http://utulsa.edu/academics/provost/">Office of the Provost</a>
                        </li>
                      </ul>
                    </div>

                    <div class="col-md-3 4">
                      <ul>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4666" id="menu-item-4666">
                          <a href="http://utulsa.edu/academics/internationalization/">Internationalization Initiative</a>
                        </li>

                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3028" id="menu-item-3028">
                          <a href="http://utulsa.edu/about/diversity/">Diversity at TU</a>
                        </li>

                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3036" id="menu-item-3036">
                          <a href="http://utulsa.edu/about/points-of-pride/">Points of Pride</a>
                        </li>

                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3040" id="menu-item-3040">
                          <a href="http://utulsa.edu/offices/">Offices</a>
                        </li>
                      </ul>
                    </div>

                    <div class="col-md-3 8">
                      <ul>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6678" id="menu-item-6678">
                          <a href="http://utulsa.edu/presidential-lecture-series/">Presidential Lecture Series</a>
                        </li>

                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3042" id="menu-item-3042">
                          <a href="http://gilcrease.utulsa.edu" target="_blank">Gilcrease Museum</a>
                        </li>

                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3029" id="menu-item-3029">
                          <a href="http://utulsa.edu/about/working-at-tu/">Working at TU</a>
                        </li>

                        <li class="menu-item-blank">
                          <a>(blank)</a>
                        </li>

                        <li class="more menu-item menu-item-type-custom menu-item-object-custom menu-item-3043" id="menu-item-3043">
                          <a href="http://utulsa.edu/about">More <span class="dashicons dashicons-arrow-right-alt2"></span></a>
                        </li>
                      </ul>
                    </div>

                    <div class="col-md-3 12"></div>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown menu-item-1679" id="menu-item-1679">
            <a class="dropdown-toggle" data-toggle="dropdown" href="http://utulsa.edu/admission-overview/">Admission</a>

            <div class="dropdown">
              <div class="container">
                <div class="row">
                  <div class="dropdown-menu" style="margin-left: 2em">
                    <div class="col-md-3 1">
                      <ul>
                        <li class="button menu-item menu-item-type-custom menu-item-object-custom menu-item-2748" id="menu-item-2748">
                          <p>Everything you need to know about attending The University of Tulsa</p><a class="btn btn-trans" href="http://utulsa.edu/admission-overview/">Overview</a>
                        </li>
                      </ul>
                    </div>

                    <div class="col-md-3 1">
                      <ul>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1881" id="menu-item-1881">
                          <a href="http://admission.utulsa.edu/">Undergraduate Admission</a>
                        </li>

                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1882" id="menu-item-1882">
                          <a href="http://graduate.utulsa.edu/">Graduate Admission</a>
                        </li>

                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1883" id="menu-item-1883">
                          <a href="http://law.utulsa.edu/admission/">Law Admission</a>
                        </li>

                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3301" id="menu-item-3301">
                          <a href="http://utulsa.edu/international-students/">International Students</a>
                        </li>
                      </ul>
                    </div>

                    <div class="col-md-3 4">
                      <ul>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-5525" id="menu-item-5525">
                          <a href="http://admission.utulsa.edu/financial-aid/">Financial Aid</a>
                        </li>

                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3297" id="menu-item-3297">
                          <a href="http://utulsa.edu/campus-life/housing-dining/">Housing &amp; Dining</a>
                        </li>

                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3437" id="menu-item-3437">
                          <a href="http://admission.utulsa.edu/request-information">Request Information</a>
                        </li>

                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2901" id="menu-item-2901">
                          <a href="http://utulsa.edu/admission-overview/">Explore TU</a>
                        </li>
                      </ul>
                    </div>

                    <div class="col-md-3 8">
                      <ul>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6091" id="menu-item-6091">
                          <a href="http://admission.utulsa.edu/visit-campus/">Visit Campus</a>
                        </li>

                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7252" id="menu-item-7252">
                          <a href="http://tulsa.university-tour.com/" onclick="__gaTracker('send', 'event', 'outbound-widget', 'http://tulsa.university-tour.com/', 'Virtual Tour');" target="_blank">Virtual Tour</a>
                        </li>

                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3433" id="menu-item-3433">
                          <a href="http://utulsa.edu/explore-tulsa/">Explore the City of Tulsa</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown menu-item-2511" id="menu-item-2511">
            <a class="dropdown-toggle" data-toggle="dropdown" href="http://utulsa.edu/academics/">Academics</a>

            <div class="dropdown">
              <div class="container">
                <div class="row">
                  <div class="dropdown-menu" style="margin-left: 2em">
                    <div class="col-md-3 1">
                      <ul>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3211" id="menu-item-3211">
                          <a href="http://artsandsciences.utulsa.edu/">College of Arts &amp; Sciences</a>
                        </li>

                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3207" id="menu-item-3207">
                          <a href="http://business.utulsa.edu/">College of Business</a>
                        </li>

                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3210" id="menu-item-3210">
                          <a href="http://engineering.utulsa.edu/">College of Engineering &amp; Natural Sciences</a>
                        </li>

                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3213" id="menu-item-3213">
                          <a href="http://healthsciences.utulsa.edu/">College of Health Sciences</a>
                        </li>
                      </ul>
                    </div>

                    <div class="col-md-3 4">
                      <ul>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3212" id="menu-item-3212">
                          <a href="http://law.utulsa.edu/">College of Law</a>
                        </li>

                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3214" id="menu-item-3214">
                          <a href="http://graduate.utulsa.edu/">Graduate School</a>
                        </li>

                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3219" id="menu-item-3219">
                          <a href="http://utulsa.edu/academics/continuing-education/">Continuing Education</a>
                        </li>

                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5759" id="menu-item-5759">
                          <a href="http://utulsa.edu/academics/university-school/">University School</a>
                        </li>
                      </ul>
                    </div>

                    <div class="col-md-3 8">
                      <ul>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5638" id="menu-item-5638">
                          <a href="http://utulsa.edu/academic-calendar/">Academic Calendar</a>
                        </li>

                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6894" id="menu-item-6894">
                          <a href="http://bulletin.utulsa.edu/" target="_blank">Bulletin/Course Catalog</a>
                        </li>

                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6120" id="menu-item-6120">
                          <a href="http://resources.utulsa.edu/schedule/">Schedule of Courses</a>
                        </li>

                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6113" id="menu-item-6113">
                          <a href="http://utulsa.edu/degrees/">Degrees</a>
                        </li>
                      </ul>
                    </div>

                    <div class="col-md-3 12">
                      <ul>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6996" id="menu-item-6996">
                          <a href="http://utulsa.edu/tulsa-curriculum/">Tulsa Curriculum</a>
                        </li>

                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3870" id="menu-item-3870">
                          <a href="http://utulsa.edu/academics/global-education/">Study Abroad</a>
                        </li>

                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4369" id="menu-item-4369">
                          <a href="http://utulsa.edu/centers-institutes/">Centers &amp; Institutes</a>
                        </li>

                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3657" id="menu-item-3657">
                          <a href="http://utulsa.edu/mcfarlin-library/">McFarlin Library</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown menu-item-2467" id="menu-item-2467">
            <a class="dropdown-toggle" data-toggle="dropdown" href="http://utulsa.edu/campus-life/">Campus Life</a>

            <div class="dropdown">
              <div class="container">
                <div class="row">
                  <div class="dropdown-menu" style="margin-left: 2em">
                    <div class="col-md-3 1">
                      <ul>
                        <li class="button menu-item menu-item-type-custom menu-item-object-custom menu-item-2749" id="menu-item-2749">
                          <p>Ready to see TU for yourself?</p><a class="btn btn-trans" href="http://utulsa.edu/visit" target="_blank">Schedule a Visit</a>
                        </li>
                      </ul>
                    </div>

                    <div class="col-md-3 1">
                      <ul>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2589" id="menu-item-2589">
                          <a href="http://utulsa.edu/campus-life/housing-dining/">Housing &amp; Dining</a>
                        </li>

                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6096" id="menu-item-6096">
                          <a href="http://utulsa.edu/offices/campus-security/">Campus Security</a>
                        </li>

                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2588" id="menu-item-2588">
                          <a href="http://utulsa.edu/campus-life/alexander-health-center/">Alexander Health Center</a>
                        </li>

                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2954" id="menu-item-2954">
                          <a href="http://utulsa.edu/campus-life/campus-recreation/">Campus Recreation</a>
                        </li>
                      </ul>
                    </div>

                    <div class="col-md-3 4">
                      <ul>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2956" id="menu-item-2956">
                          <a href="http://utulsa.edu/campus-life/student-academic-support/">Student Academic Support</a>
                        </li>

                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2955" id="menu-item-2955">
                          <a href="http://utulsa.edu/campus-life/new-student-programs/">New Student Programs</a>
                        </li>

                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6104" id="menu-item-6104">
                          <a href="http://utulsa.edu/campus-life/multicultural-student-programs/">Multicultural Student Programs</a>
                        </li>

                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3004" id="menu-item-3004">
                          <a href="http://utulsa.edu/campus-life/student-activities/">Student Activities</a>
                        </li>
                      </ul>
                    </div>

                    <div class="col-md-3 8">
                      <ul>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3003" id="menu-item-3003">
                          <a href="http://utulsa.edu/campus-life/student-affairs/">Student Affairs</a>
                        </li>

                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6522" id="menu-item-6522">
                          <a href="http://utulsa.edu/campus-life/greek-life/">Greek Life</a>
                        </li>

                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2721" id="menu-item-2721">
                          <a href="http://utulsa.edu/campus-life/career-services/">Career Services</a>
                        </li>

                        <li class="menu-item-blank">
                          <a>(blank)</a>
                        </li>

                        <li class="more menu-item menu-item-type-custom menu-item-object-custom menu-item-6270" id="menu-item-6270">
                          <a href="http://utulsa.edu/campus-life/">More <span class="dashicons dashicons-arrow-right-alt2"></span></a>
                        </li>
                      </ul>
                    </div>

                    <div class="col-md-3 12"></div>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children dropdown menu-item-2456" id="menu-item-2456">
            <a class="dropdown-toggle" data-toggle="dropdown" href="http://utulsa.edu/research/">Research</a>

            <div class="dropdown">
              <div class="container">
                <div class="row">
                  <div class="dropdown-menu" style="margin-left: 2em">
                    <div class="col-md-3 1">
                      <ul>
                        <li class="button menu-item menu-item-type-post_type menu-item-object-page menu-item-6142" id="menu-item-6142">
                          <p>Looking for information about doing research at TU?</p><a class="btn btn-trans" href="http://utulsa.edu/research/office-research/">Office of Research</a>
                        </li>
                      </ul>
                    </div>

                    <div class="col-md-3 1">
                      <ul>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6140" id="menu-item-6140">
                          <a href="http://utulsa.edu/centers-institutes/">Centers &amp; Institutes</a>
                        </li>

                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6144" id="menu-item-6144">
                          <a href="http://graduate.utulsa.edu/">Graduate School</a>
                        </li>

                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6139" id="menu-item-6139">
                          <a href="http://graduate.utulsa.edu/student-research-colloquium/" target="_blank">Research Colloquium</a>
                        </li>

                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6143" id="menu-item-6143">
                          <a href="http://utulsa.edu/research/turc/">Undergraduate Research</a>
                        </li>
                      </ul>
                    </div>

                    <div class="col-md-3 4"></div>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9" id="menu-item-9">
            <a href="http://www.tulsahurricane.com/" onclick="__gaTracker('send', 'event', 'outbound-widget', 'http://www.tulsahurricane.com/', 'Athletics');" target="_blank">Athletics</a>
          </li>

          <li class="last-item user-icon menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children dropdown menu-item-1423" id="menu-item-1423">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Info For</a>

            <div class="dropdown">
              <div class="container">
                <div class="row">
                  <div class="dropdown-menu" style="margin-left: 2em">
                    <div class="col-md-3 1">
                      <ul>
                        <li class="button menu-item menu-item-type-custom menu-item-object-custom menu-item-1560" id="menu-item-1560">
                          <p>The online events calendar is a great way to learn about things happening at TU</p><a class="btn btn-trans" href="https://calendar.utulsa.edu" target="_blank">Events Calendar</a>
                        </li>
                      </ul>
                    </div>

                    <div class="col-md-3 1">
                      <ul>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1413" id="menu-item-1413">
                          <a href="http://admission.utulsa.edu/">Prospective Students</a>
                        </li>

                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1414" id="menu-item-1414">
                          <a href="http://utulsa.edu/info-for-current-students/">Current Students</a>
                        </li>

                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1415" id="menu-item-1415">
                          <a href="http://graduate.utulsa.edu/">Graduate Students</a>
                        </li>

                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1416" id="menu-item-1416">
                          <a href="http://utulsa.edu/international-students/">International Students</a>
                        </li>
                      </ul>
                    </div>

                    <div class="col-md-3 4">
                      <ul>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1417" id="menu-item-1417">
                          <a href="http://utulsa.edu/parents-welcome/">Parents</a>
                        </li>

                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1418" id="menu-item-1418">
                          <a href="http://www.tualumni.com/" onclick="__gaTracker('send', 'event', 'outbound-widget', 'http://www.tualumni.com/', 'Alumni');">Alumni</a>
                        </li>

                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6906" id="menu-item-6906">
                          <a href="http://utulsa.edu/information-employees/">Employees</a>
                        </li>

                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5639" id="menu-item-5639">
                          <a href="http://utulsa.edu/offices/university-relations/media-resources/">Media</a>
                        </li>
                      </ul>
                    </div>

                    <div class="col-md-3 8">
                      <ul>
                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1420" id="menu-item-1420">
                          <a href="http://utulsa.edu/working-at-tu/">Job Seekers</a>
                        </li>

                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1421" id="menu-item-1421">
                          <a href="http://utulsa.edu/continuing-education/">Adult Learners</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

