<div class="header-search">
  <div class="container">
    <form action="https://search.utulsa.edu/" class="input-group searchform" method="get">
      <input class="search-input form-control" name="s" placeholder="Search …" title="Search for:" type="search" value=""> <span class="input-group-btn"><input class="btn btn-default" type="submit" value="Search"></span>
    </form>
  </div>
</div>
