<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <article>
            <header>
                <h1>Lorem Ipsum</h1>
            </header>
            <div class="entry-meta">
                <p>January 1, 2016</p>
                <p><a href="#" rel="tag">John Doe</a></p>
            </div>
            <div class="entry-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec varius nulla. Aliquam molestie nisi venenatis magna dapibus, eget pulvinar leo euismod. Morbi eget est a mi tincidunt sodales. Integer hendrerit leo a ultricies volutpat. Nunc pellentesque, neque at rutrum sollicitudin, lorem eros gravida dolor, et mollis felis leo quis augue. In sodales, ipsum ut malesuada accumsan, ex metus laoreet lacus, vitae eleifend mi arcu a eros. Nulla condimentum sem a nisl efficitur, et ultricies magna placerat.</p>

                <p>Maecenas quis luctus arcu, quis tincidunt urna. Curabitur dignissim pretium eros, in porta eros molestie in. Suspendisse libero magna, commodo quis neque quis, tincidunt varius dui. Sed tellus turpis, tempus ut magna id, fringilla faucibus enim. Aliquam erat volutpat. Cras porttitor sit amet justo eu finibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla eu facilisis libero. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In eget finibus lacus, non mattis metus. Fusce dictum leo quis massa finibus, laoreet hendrerit mauris faucibus. Donec quis scelerisque nibh. Vivamus tincidunt, lorem ac scelerisque imperdiet, arcu felis fermentum lectus, ut dapibus orci urna ut mauris.</p>

                <p>Pellentesque eu orci ac lectus vestibulum congue. Phasellus placerat, arcu sit amet interdum ultricies, turpis tortor fringilla ligula, nec accumsan nisi neque nec ante. Maecenas gravida fermentum blandit. Quisque quam metus, ultricies placerat mi id, egestas consequat arcu. Pellentesque lectus odio, fringilla eu tincidunt non, luctus in dolor. Nam lectus felis, consequat ornare eleifend quis, consectetur vitae turpis. Ut vulputate orci et quam dignissim dictum. Nulla id malesuada ante, eget egestas risus. Nulla vitae tortor scelerisque, tristique felis quis, vehicula sapien. Morbi aliquet, sapien eu varius tempus, ante elit vulputate velit, sit amet pretium augue risus in justo. Phasellus fringilla vulputate est eu pellentesque. Aenean sit amet auctor orci. Sed semper sem nunc, in vehicula lacus finibus sed.
                </p>

                <p>Vestibulum quis erat nec nisl finibus dignissim vel id libero. Nullam facilisis eros eu augue rutrum consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus et dui porta, cursus mi et, ultricies elit. Integer lobortis lacus vel viverra pulvinar.</p>
            </div><!-- .entry-content -->
        </article>
    </div>
</div>
